/* Home.css */


body {
    background: linear-gradient(to bottom, #333, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.your-container.loading {
    opacity: 0.9;
}

.logo {
    width: 400px;
    height: auto;
    margin: 0 auto 20px auto;
    /* Establece márgenes automáticos para los lados izquierdo y derecho, y 20px para el margen inferior */
    display: block;
    /* Asegura que el logo se comporte como un bloque para que los márgenes automáticos funcionen */
}

/* Estilos iniciales para el h1 */
h1 {
    font-family: 'blade';
    font-size: 24px;
    margin: 10px 0;
    color: rgb(241, 159, 215);
    position: relative;
   
    /* Necesario para aplicar animación */
}

/* Efecto de resplandor constante */
@keyframes glowAnimation {

    0%,
    100% {
        text-shadow: 0 0 10px magenta, 0 0 20px magenta, 0 0 30px magenta;
    }

    50% {
        text-shadow: 0 0 5px magenta, 0 0 15px magenta, 0 0 25px magenta;
    }
}

/* Aplicar animación al h1 */
h1 {
    animation: glowAnimation 2s infinite;
}



@font-face {
    font-family: 'blade';
    src: local('NombreDeTuFuente'), url('./BLADRMF_.TTF') format('woff');
}

.black-bar {
    margin-top: 50px;
    background-color: rgb(44, 43, 43);
    height: 100px;
    /* Ajusta la altura según sea necesario */
    width: 100%;
    /* O ajusta el ancho según sea necesario */
    position: relative;
    /* Ajusta la posición según sea necesario */
    z-index: 1;
}
.search-sort-container {
  display: flex;
  flex-direction: column;
}

.search-sort {
  display: flex;
}

.search-sort-container {
    display: flex;
    flex-direction: column;
}

.search-sort {
    display: flex;
}

.black-bar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        /* Degradado de negro a transparente de arriba hacia abajo */
        /* Fondo transparente */
    height: 25px;
    /* Ajusta la altura según sea necesario */
    width: 100%;
    /* O ajusta el ancho según sea necesario */
    margin-top: -30px;
    /* Ajusta el margen superior según sea necesario */
}

.black-bar_2 {
    background-color: black;
    height: 25px;
    /* Ajusta la altura según sea necesario */
    width: 100%;
    /* O ajusta el ancho según sea necesario */
    margin-top: -20px;
    /* Ajusta el margen superior según sea necesario */
}
.sort-filter {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    /* Degradado de negro a transparente */
}

.sort-filter h1{
    font-family: 'blade';
    font-size: 30px;

}

.sort-btn_A-Z {
   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    /* Transición para el cambio de color de fondo */
}

.sort-btns {
    display: flex;
}

.sort-btn {
    background-color: rgba(0, 0, 0, 0.5);
    /* Cambia el color de fondo a gris */
    color: rgb(97, 93, 93);
    /* Cambia el color del texto a blanco */
    padding: 10px 20px;
    /* Ajusta el padding según sea necesario */
    margin: 5px;
    /* Agrega un margen alrededor del botón */
    border: none;
    /* Quita el borde */
    border-radius: 5px;
    /* Agrega bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor a un puntero */
    transition: color 0.3s, text-shadow 0.3s;
    /* Agrega una transición suave para el cambio de color y sombra del texto */
}

.sort-btn:hover {
    color: rgb(249, 246, 246);
    /* Cambia el color del texto a gris al pasar el mouse */
    text-shadow: 0 0 10px white;
    /* Agrega un glow blanco al texto al pasar el mouse */
}
.sort-btn_A-Z {
    margin-right: 10px;
    /* Agrega un margen derecho para separar el título del botón */
}
.team-dropdown {

    font-family: 'blade';
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.team-dropdown label {
    font-family: 'blade';
    /* Utiliza la misma fuente */
    font-size: 28px;
    /* Tamaño de fuente */
    color: rgb(247, 203, 233);
    /* Color de texto */
    margin: 10px 0;
    /* Margen superior e inferior */
    position: relative;
    /* Para la animación */
    animation: glowAnimation 2s infinite;
    /* Animación de resplandor */
}

.team-dropdown select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    /* Quita el borde */
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de fondo */
    color: #fff;
    /* Color de texto */
}

/* Efecto de resplandor constante */
@keyframes glowAnimation {

    0%,
    100% {
        text-shadow: 0 0 10px magenta, 0 0 20px magenta, 0 0 30px magenta;
    }

    50% {
        text-shadow: 0 0 5px magenta, 0 0 15px magenta, 0 0 25px magenta;
    }
}

.reset-container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    margin-top: 20px;
    /* Agrega un margen superior según sea necesario */
}


.reset-btn {
    font-family: 'blade';
    overflow: hidden;
    padding: 15px 25px;
    /* Ajusta el padding para hacer el botón más grande */
    border: 1px solid #4f4d4d;
    border-radius: 8px;
    background: linear-gradient(to top, #3f3e3e, #000);
    /* Fondo degradado de gris a negro */
    color: #fff;
    /* Color del texto */
    cursor: pointer;
    position: relative;
    margin: 10px;
    /* Ajusta el margen según sea necesario */
    border-radius: 8px;
    /* Ajusta el radio del borde si es necesario */
    font-size: 16px;
    /* Ajusta el tamaño de la fuente */
    transition: all 0.3s ease-in-out;
}

.reset-btn:hover {
    background: linear-gradient(to top, #3f3e3e, #000);
    /* Mantén el fondo degradado */
    color: #fff;
    /* Cambia el color del texto */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f8f2f8, 0 0 40px #ede8ee, 0 0 50px #f0eaf0, 0 0 60px #f7f3f8, 0 0 70px #faf7fa;
    /* Efecto de resplandor */
}

.reset-btn:before {
    content: " ";
    display: block;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, .4);
    /* Color del resplandor */
    position: absolute;
    top: -10px;
    left: -200px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
}

.reset-btn:hover:before {
    margin-left: 300%;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
